* {
  
}

body {
  background: linear-gradient(to bottom, #ffcdb2, #f0edee, #f0edee);
  background-color: black;
  margin: 0;
}

.body {
  background-image: url('./i-like-food.svg');
  background-repeat: repeat-x;
  border: solid 1px #000;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2.5rem;
  width: 1024px;
}

.bio {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.21);
  display: inline-flex;
  height: 23rem;
  margin: 12rem auto;
  width: 95%;
}

.profile-pic {
  background-image: url('https://i.ytimg.com/vi/jsjQS0srelE/maxresdefault.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.24);
  height: 173px;
  width: 225px;
}

.bio-left-half {
  bottom: 9rem;
  color: #48639C;
  font-family: Noto Sans, sans serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  padding-left: 4rem;
  position: relative;
  width: 230px;
}

.bio-right-side {
  font-size: 24px;
  height: 264px;
  line-height: 44px;
  margin-top: 4%;
  margin-left: 7%;
  width: 560px;
}

.flag-image {
  display: inline-block;
  height: 29px;
  width: 28px;
}

.name {
  /* position: absolute; */
  width: 192px;
  display: inline-block;
  height: 33px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  color: #48639C;
  margin-bottom: 4px;
  margin-top: 12px;
}

.name-box {
  align-items: center;
  display: flex;
  height: 58px;
  justify-content: space-around;
}

.profile-words {
  color: #989395;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.quote {
  position: absolute;
  width: 241px;
  height: 52px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  font-size: 16px;
  color: rgba(72, 99, 156, 0.51);
}