* {
  
}

body {
  background: linear-gradient(to bottom, #ffcdb2, #f0edee, #f0edee);
  background-color: black;
  margin: 0;
}

.body {
  background-image: url('./i-like-food.svg');
  background-repeat: repeat-x;
  border: solid 1px #000;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2.5rem;
  width: 1024px;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.21);
}

.bio {
  display: inline-flex;
  height: 23rem;
  margin: 12rem auto 2rem auto;
  width: 95%;
}

.profile-pic {
  background-image: url('https://i.ytimg.com/vi/jsjQS0srelE/maxresdefault.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.24);
  height: 173px;
  width: 225px;
}

.bio-left-half {
  bottom: 9rem;
  color: #48639C;
  font-family: Noto Sans, sans serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  padding-left: 4rem;
  position: relative;
  width: 230px;
}

.bio-right-side {
  font-size: 24px;
  height: 264px;
  line-height: 44px;
  margin-top: 4%;
  margin-left: 7%;
  width: 560px;
}

.flag-image {
  display: inline-block;
  height: 29px;
  width: 28px;
}

.logos {
  height: 54px;
  width: 54px;
}

.name {
  /* position: absolute; */
  width: 192px;
  display: inline-block;
  height: 33px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  color: #48639C;
  margin-bottom: 4px;
  margin-top: 12px;
}

.name-box {
  align-items: center;
  display: flex;
  height: 58px;
  justify-content: space-around;
}

.page-info-body {
  margin: 0;
}

.profile-words {
  color: #989395;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.quote {
  position: absolute;
  width: 241px;
  height: 52px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  font-size: 16px;
  color: rgba(72, 99, 156, 0.51);
}

.social-media-logos {
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: relative;
  right: 26px;
  top: 206px;
}

.page-info-body {
  /* background-color: white; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  height: 900px;
  margin: 0 auto 5rem auto;
  width: 95%;
}

.lower-card {
  padding-left: 2rem;
}

.lower-card h1 {
  color: #48639C;
  font-family: Noto Sans;
  font-size: 1.5rem;
}

.personality {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.frustrations {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 0 2rem;
}

.recent,
.motivation {
  grid-row-start: 4;
  grid-row-end: 6;
}

.personality-li {
  color: #48639C;
  display: flex;
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 800;
  line-height: 180%;
  justify-content: space-between;
  list-style: none;
  width: 80%;
}

.frustrations-li {
  color: #989395;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 40px;
  width: 60%;
}

.goals h1 {
  margin-bottom: 0;
}

.goals-add {
  align-items: center;
  color: #a5b1cb;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 700;
  justify-content: space-around;
  margin-bottom: 2rem;
  width: 50%;
}

.goals-add img {
  height: 25px;
}

.recent-li {
  color: #a5b1cb;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 40px;
  width: 60%;
}